{% extends "base.html" %}

{%block head%}


{%endblock%}

{%block body%}

<div class="header">
    Header section of website
</div>

<div class="container-fluid">

    <div class="container">
        <h1 style = "text-align:center;" > What is Competitive Programming? </h1>

        <div class="jumbotron">
            <h1 class="display-4">Once you enter in programming, you just dont learn how to code but you also
                learn the "art of thinking" by breaking your code into smaller chunks and then by using your logic 
                based creativity to solve a problem from different angles
            </h1>
        </div>

        <div class="row justify-content-center mt-5">
            <a href="/" class="btn btn-primary btn-lg" role="button"> How we competitively program </a>
        </div>

        <div class="row justify-content-center mt-5">
            <a href="/" class="btn btn-primary btn-lg" role="button"> Cybersecurity </a>
        </div>
    </div>

</div>

<div class="footer">
Footer section of website
</div>

</div>
{%endblock%}
