{% extends "layout.html" %}

{% block header %}
{% endblock%}

{% block content %}


<h3 class="text-primary texty m-5">Pranjal Ghimire</h3>



                    <div class=".container-fluid">
            </div>

            <div class="row justify-content-center">
            </div>





             <div class="img">
                    <img src="../static/images/hackathon2.jpg" class="img-fluid" alt="Responsive image">
            </div>
           
            <h3 class="mt-5 mb-5">lorem ipsum</h3> 

{% endblock %} 