{% extends "layout.html" %}


{% block content %}

<div class="row justify-content-around">
  <div class="col h-100">
    <h1>Settings </h1>

    <div class="flex-row bg-white box-shadow-bottom sticky d-none d-sm-flex mt-3 mb-3 mb-sm-5">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
          <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
          <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
      </div>

      <div class="row">
        <div class="col col-lg-8">
          <div class="settings">

            {% block content %}
            {% endblock %}

          </div>
        </div>

      </div>

    <p id="demo"></p>
    </div>

    <script>
      var text = "";
      var i;
      for (i = 0; i < 10; i++) {
        text += "The number is " + i + "<br>";
        }
        document.getElementById("foo").innerHTML = text;
    </script>
  </div>

</div>
{% endblock %}
