:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    object-fit: cover;

     /* max-height: 414; */
  }


  /* custom shits */


    .card-img-overlay{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition-delay: 2s;
    color:#fdfdfd !important;
    text-shadow: 2px 2px #000000b4;
    background-image: linear-gradient(0deg, #fdfdfd 0%, rgba(222, 222, 222, 0) 45%);
    }

    .card-img-overlay:hover {
        opacity: 1;
        background-image: linear-gradient(0deg, #fdfdfd 0%,rgba(206, 87, 87, 0.596) 45%);

        /* background-image: linear-gradient(0deg, rgb(204, 0, 0) 0%, rgba(222, 222, 222, 0) 45%); */
      }