{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/members.css') }}">
    <div class="jumbotron jumbotron-fluid bg-info text-white text-center">
    <div class="container">
    <h1 class="display-3">Members</h1>
    </div>
    </div>

    <div class=".container-fluid">
    <div class="row justify-content-center">
    {% for member in members %}
        <div class=".col-12 .col-md-6 p-5 m-5">
            <h3 class="text-primary texty"> {{ member.fname }} {{ member.lname }} </h3>

            
             <div class="img">
              <img src="static/images/profile_pics/{{ member.profile_pic }}" class="img-fluid" alt="Responsive image">
            </div>


            <ul class="nav .text-center">
                <li class="nav-item mx-auto">
                <a class="nav-link .text-center" href="{{ url_for('members.member', member_id=member.id) }}"> read more about {{ member.fname }}</a></h2>

                </li>
            </ul>

        </div>
       

    {% endfor %}





{% endblock %} 