{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="static/styles/login.css">
<body class="text-center">
    
  <main class="form-signin">
    <form action="/login" method="POST">
      <img class="mb-4" src="../static/images/logo.png" alt="" width="50" height="50">
      <h1 class="h3 mb-3 fw-normal">Login</h1>

      <label for="email" class="visually-hidden">TTU Email</label>
      <input type="email" pattern="^[A-Za-z0-9._%+-]+@ttu.edu$"class="form-control" id="email" name="email" placeholder="Email">

      <label for="password" class="visually-hidden">Password</label>
      
      <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
      <p> Not a member? <a href="/members#sign-up-form">Sign up!</a></p>
    </form>
  </main>
  
  
</body>
{% endblock content %}
