{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="static/styles/register.css">
<div class="container">
  <h1 class="text-center">Register</h1>
  <form action="/register" id="postform" method="POST">

    <div class="form-group">
      <label for="fname">First Name</label>
      <input class="form-control" id="fname" name="fname" placeholder="John" required>
    </div>

    <div class="form-group">
      <label for="lname">Last Name</label>
      <input class="form-control" id="lname" name="lname" placeholder="Doe" required>
    </div>

    <div class="form-group">
      <label for="email">Student Email Address</label>
      <input type="email" pattern="^[A-Za-z0-9._%+-]+@ttu.edu$"class="form-control" id="email" name="email" placeholder="John.Doe@ttu.edu">
      <small id="emailHelp" class="form-text text-muted">Must end with ttu.edu</small>
    </div>

    <div class="form-group">
      <label for="password1">Password</label>
      <input type="password" class="form-control" id="password1" name="password1" placeholder="RaiderPower">
    </div>

    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input type="password" class="form-control" id="password2" name="password2" placeholder="Don't actually use RaiderPower">
    </div>

    <div class="checkbox mb-3">
      <label>
        <a href="/login">Login</a>
      </label>
    </div>

    <input type="button" value="Register" onclick="create_account();"><br><br>

</form>

<script type="text/javascript" src="../../../static/scripts/zxcvbn.js"></script>

<script>

function create_account()
{
	if ( document.getElementById('password1').value != document.getElementById('password2').value )
	{
		console.log("Error: Passwords do not match!");
		return;
	}

	var result = zxcvbn(document.getElementById('password2').value);

	if ( result.score < 4 )
	{
		console.log("Error: Password too weak!!!\n");
		console.log(result.feedback.warning);

		console.log(result.feedback.suggestions);
		console.log(result.calc_time);

		return;
	}

	var null_salt = new Uint8Array(16);

	var i = 0;

	while ( i < 16 )
	{
		null_salt[i] = 0;

		i++;
	}
	
	var out = sodium.crypto_pwhash(sodium.crypto_secretbox_KEYBYTES,str( document.getElementById('password2').value + document.getElementById('username') ),null_salt,sodium.crypto_pwhash_MEMLIMIT_INTERACTIVE,sodium.crypto_pwhash_OPSLIMIT_INTERACTIVE,sodium.crypto_pwhash_ALG_DEFAULT);

	var out_base64 = btoa(out);

	console.log("Base64 Encoded H_1: " + out_base64);
	
	document.getElementById('password2').value = out_base64;
	
	document.getElementById('password1').value = out_base64;

	var xhr = new XMLHttpRequest();

	xhr.open(document.getElementById('postform').method,document.getElementById('postform').action,true);

	xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');

	xhr.setRequestHeader('X-Requested-With','XMLHttpRequest');

	var x = 'username=' + document.getElementById('username').value + '&password1=' + document.getElementById('password1').value + '&password2=' + document.getElementById('password2').value + '&fname=' + document.getElementById('fname').value + '&lname=' + document.getElementById('lname').value + '&email=' + document.getElementById('email').value;

	xhr.send(x);

	xhr.onload = function()
	{
		console.log("xhr status");

		console.log(xhr.status);

		user_status = xhr.responseText;

		console.log(user_status);

	}
	
}

</script>

<script>
	window.sodium = {

			onload: function(sodium)	{

			}
		};

</script>


<script type="text/javascript" src="scripts/sodium.js"></script>

{% endblock content %}
