{% extends 'layout.html'%}

{% block content %}

<h1> Competitive Programming </h1>

<p>
Competitive programming is a mind sport usually held over the Internet, where participants try to write a program according to provided specifications. Competitive programming is recognized and supported by several multinational software and Internet companies, such as Google and Facebook. competition generally involves the host presenting a set of logical or mathematical problems, also known as puzzles, to the contestants (who can vary in number from tens to several thousands), and contestants are required to write computer programs capable of solving each problem. Judging is based mostly upon the number of problems solved and time spent for writing successful solutions, but may also include other factors (quality of output produced, execution time, program size, etc.)
</p>

{% endblock content %}
