{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="static/styles/forgot.css">

    <div class="container">
       <h2><b>Password</b></h2>
       <p class="mt-3 text-muted">Change your account password.</p>
    <div class="form-container">
    <form action="/" method="POST" class="form-wrap" oninput='password2.setCustomValidity(password1.value != password2.value ? "Passwords do not match." : "")'>
     
     <div class="form-group">
      <label for="email" class="mt-4"><b>TTU Email</b></label>
      <input type="email" pattern="^[A-Za-z0-9._%+-]+@ttu.edu$" class="form-control" id="email" name="passwordemail" placeholder="John.Doe@ttu.edu">
    </div>

    <div class="form-group">
      <label for="password"><b>Current Password</b></label>
      <input type="password" class="form-control" id="password" name="password" placeholder="********">
    </div>

    <div class="form-group">
      <label for="password"><b>New Password</b></label>
      <input type="password" class="form-control" id="password" name="password1" placeholder="********">
    </div>

    <div class="form-group">
      <label for="password"><b>Reconfirm New Password</b></label>
      <input type="password" class="form-control" id="password" name="password2" placeholder="********">
    </div>
    
    <div class="container">
    <div class="row">
    <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
    </div>

    </form>
</div>
</div>

{% endblock content %}