{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="static/styles/login.css">
<div class="container">
  <form action="/login" method="POST">
    <h1> Login </h1>


    <div class="form-group">
      <label for="email">TTU Email</label>
      <input type="email" pattern="^[A-Za-z0-9._%+-]+@ttu.edu$" class="form-control" id="email" name="email" placeholder="John.Doe@ttu.edu">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="password">
    </div>

    <div class="checkbox mb-3">
      <label>
        <a href="/register">Register</a>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

     <a href="/forgotusername" class="pt-5 ml-5">Change Email</a>
    <a href="/forgotpassword" class="pt-5 ml-5">Change Password</a>

  </form>
</div>

{% endblock content %}
